
.spacer {
  background: var(--ion-color-primary);
  padding: 0 30px 70px 20px;
  margin-bottom: -50px;
}

.header-container {
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: white;
  padding: 20px 16px 10px;
}

.transaction-items-container {
  padding: 16px 0 100px;
  border-top: 1px solid rgb(233, 233, 233);
}

ion-title {
  font-size: 12px;
}

.item-header {
  text-align: center;
}

.item-header h3 {
  font-weight: 300;
  font-size: 18px;
}

.datepicker {
  margin-top: 16px;
}

.fab-button-disabled {
  opacity: 1;
  filter: grayscale(1) brightness(3);
}

.amount-container {
  position: absolute;
  left: 16px;
  bottom: 25px;
  font-weight: 200;
}
