<ion-toolbar color="primary" mode="ios">
  <ion-buttons slot="start">
    <ion-button (click)="dismiss()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>
    {{ editMode ? "Edit Transaction" : "Add Transaction" }}
  </ion-title>

  <ion-buttons
    slot="end"
    *ngIf="editMode && !readonlyMode"
    (click)="CancelTransaction()"
  >
    <ion-button>Cancel</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="spacer"></div>

  <div class="header-container">
    <ion-text
      color="danger"
      class="edit-disabled-instruction"
      *ngIf="readonlyMode"
    >
      This transaction can no longer be edited.
    </ion-text>

    <app-customer-selector
      [(model)]="customer"
      [disabled]="editMode"
      (selected)="onCustomerSelected($event)"
    ></app-customer-selector>

    <ion-item lines="none" class="datepicker">
      <ion-label position="floating">Booking Date</ion-label>
      <ion-datetime
        [formControl]="dateControl"
        [disabled]="readonlyMode"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Payment Method</ion-label>
      <ion-select
        placeholder="Select a payment method"
        [formControl]="pmethodControl"
        [disabled]="readonlyMode || !hasCustomer || cashOnDeliveryModeOnly"
        interface="action-sheet"
      >
        <ion-select-option
          *ngFor="let method of paymentMethods"
          [value]="method.id"
          >{{ method.description }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Payment Term</ion-label>
      <ion-select
        placeholder="Select a payment term"
        [formControl]="ptermControl"
        interface="action-sheet"
        [disabled]="readonlyMode || !hasCustomer || cashOnDeliveryModeOnly"
      >
        <ion-select-option
          *ngFor="let term of paymentTerms"
          [value]="term.id"
          >{{ term.description }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </div>

  <div class="transaction-items-container">
    <app-item-line
      *ngFor="let item of items; let i = index"
      [name]="item.name"
      [quantity]="item.quantity"
      [price]="item.price"
      [unit]="item.unit"
      (delete)="deleteItemIndexByIndex(i)"
      (update)="updateItem(i)"
      [disabled]="readonlyMode"
    >
    </app-item-line>
    <app-add-item-line
      [disabled]="!hasCustomer"
      (add)="showCreateItemForm()"
      *ngIf="!readonlyMode"
    ></app-add-item-line>
  </div>

  <div class="amount-container">
    <ion-text
      >Total amount:
      <b>{{ totalAmount | currency: "PHP":"symbol-narrow" }}</b></ion-text
    >
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="!readonlyMode"
  >
    <ion-fab-button [disabled]="!canSubmit" (click)="save()">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
