<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="dismiss()">
      <ion-icon name="arrow-back-outline"></ion-icon>

      Back
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding">
  <h1>DB Sync</h1>

  <ion-text class="instruction">
    To allow the app to operate without constant internet connection. The app will need
    to cache item headers, customer information and price scheme in your local device. Please
    Sync your device to the server.
  </ion-text>

  <div *ngIf="!(state$ | async)?.synching; else synching">
    <ion-text class="sync-details">{{ (state$ | async)?.synchingMessage }}</ion-text>

    <ion-button expand="block" mode="ios" (click)="sync()">
      SYNC NOW
    </ion-button>
  </div>

  <ng-template #synching>
    <div class="status-container ion-padding">
      <ion-img src="/assets/db-sync.gif"></ion-img>
      <ion-text class="sync-details">{{ (state$ | async)?.synchingMessage }}</ion-text>
    </div>
  </ng-template>
</ion-content>
