.instruction {
  margin: 16px 0;
  display: block;
  text-justify: newspaper;
}

ion-button {
  margin-top: 24px;
}

h1 {
  margin: 0 0 16px;
}

.sync-details {
  color: rgb(134, 134, 134);
  font-size: 16px;
}

.status-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;

  ion-img {
    max-width: 250px;
    margin: 0 auto;
  }
}
