h1 {
  margin: 0 0 16px;
}


.profile-container {
  background: var(--ion-color-primary);
  align-items: center;
  padding: 20px 30px 30px 20px;

  ion-icon {
    font-size: 150px;
    margin: 20px auto;
    display: block;
  }
}

ion-card-content {
  padding: 0;
}
