ion-title {
  font-weight: 200;
  padding-right: 35px;
}

.sales-container {
  margin-right: -100px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: none;

  .label {
    font-size: 12px;
    font-weight: 400px;
    display: block;
    color: rgb(141, 141, 141);
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

    .value {
      font-size: 42px;
      font-weight: 500;
      color: black;
      display: inline-block;
      margin-left: 15px;
    }

    .currency {
      display: inline-block;
      margin-left: 10px;
      color: var(--ion-color-primary);
    }

    .currency-symbol {
      color: rgb(116, 116, 116);
    }
  }

  ion-spinner {
    display: block;
    margin: 0 auto;
    left: -50px;
  }
}

.finalize-button {
  margin: 20px;
  min-height: 80px;
  font-size: 18px;
  font-weight: bold;
  border: 2px dashed rgb(131, 68, 68);
  padding: 2px;
  border-radius: 10px;
  opacity: 9.5;
}

.button-disabled {
  opacity: 1;
  filter: grayscale(1) brightness(3);
}
