
.sales-container {
  margin-right: -100px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: none;

  .label {
    font-size: 10px;
    font-weight: 400px;
    display: block;
    color: rgb(141, 141, 141);
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

    .value {
      font-size: 42px;
      font-weight: 500;
      color: black;
    }

    .currency {
      display: inline-block;
      margin-left: 10px;
      color: var(--ion-color-primary);
    }

    .currency-symbol {
      color: rgb(116, 116, 116);
    }
  }
}
