<ion-toolbar color="light">
  <ion-buttons slot="end">
    <ion-button (click)="dismiss()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title>
    Welcome! {{ (userInfo$ | async)?.firstname }}
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="sales-container" mode="ios">
    <ion-card-content>
        <ion-text class="label">CURRENT SALES</ion-text>
        <div class="ion-text-end">
          <ion-text class="currency-symbol">₱</ion-text>
          <ion-text
            class="value"
            counto
            [step]="30"
            [countTo]="(transactionQueue$ | async)?.total || 0"
            [countFrom]="0"
            [duration]="1"
            (countoChange)="counto = $event"
          >{{ counto | currency:'':'' }}</ion-text>
          <ion-text class="currency">PHP</ion-text>
        </div>
    </ion-card-content>
  </ion-card>

  <app-no-db-sync-banner *ngIf="!(dbSync$ | async)?.lastSync; else main"></app-no-db-sync-banner>

  <ng-template #main>
    <app-transaction-list
      [transactions]="(transactionQueue$ | async)?.transactions"
      (select)="onTransactionSelect($event)"
    >
    </app-transaction-list>
  </ng-template>
</ion-content>
